@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700;800&family=Roboto+Mono:wght@700&display=swap");
.calculatorW {
  background: #f6f6f3;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto Mono", monospace;
  color: #333;
}

.calculatorW .wrapper {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 44px rgba(148, 146, 120, 0.23);
          box-shadow: 0px 0px 44px rgba(148, 146, 120, 0.23);
  border-radius: 20px;
  width: 765px;
  padding-top: 55px;
}

.calculatorW .tip-amount {
  padding-bottom: 35px;
  border-bottom: 1px solid #dedede;
  margin-bottom: 35px;
}

.calculatorW .total-per-person {
  padding-bottom: 35px;
}

.calculatorW .tip-amount,
.calculatorW .total-per-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  gap: 35px;
}

.calculatorW .tip-amount label,
.calculatorW .total-per-person label {
  font-size: 0.875rem;
  text-align: right;
}

.calculatorW .tip-amount .dollars,
.calculatorW .total-per-person .dollars {
  font-size: 5rem;
}

.calculatorW .tip-amount sup,
.calculatorW .total-per-person sup {
  font-size: 3rem;
}

.calculatorW .dollars {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.calculatorW .input-fields {
  background: #f7f7f7;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 35px;
}

.calculatorW .input-fields .bill-amount {
  border-right: 2px solid #dedede;
  padding: 65px 45px 45px 20px;
  width: 70%;
}

.calculatorW .input-fields .number-of-people {
  padding: 65px 45px 45px;
  width: 30%;
}

.calculatorW .input-fields .number-of-people .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.calculatorW .bill-amount .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.calculatorW input[type="text"] {
  text-align: center;
  font-size: 3.875rem;
  font-family: "Inter", sans-serif;
  border: none;
  background: none;
  outline: none;
  margin-right: 10px;
  width: 100%;
  border-bottom: 3px dotted #b3b3b3;
}

.calculatorW .bill-amount input[type="text"] {
  background: url("./images/dollar.svg") left 15px no-repeat;
  padding-left: 40px;
  width: 100%;
}

.calculatorW .number-of-people input[type="text"] {
  background: url("./images/people.svg") left 20px no-repeat;
  padding-left: 40px;
  text-align: right;
}

.calculatorW .input-fields .label {
  margin-bottom: 45px;
  text-align: center;
  padding-top: 10px;
}

.calculatorW .tip-percentages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 35px;
  background: #eeeeee;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}

.calculatorW label {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #60c1b6;
  font-family: "Roboto Mono", monospace;
  width: 135px;
  height: 68px;
  font-size: 1.5rem;
  cursor: pointer;
}

.calculatorW input[type="radio"] {
  display: none;
}

.calculatorW input[type="radio"]:checked + label {
  background: #60c1b6;
  color: white;
}

.calculatorW .button-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: right;
  width: 100%;
  padding: 30px 35px;
  background: #f7f7f7;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #f7f7f7;
}

.calculatorW button {
  background: #ed7861;
  -webkit-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  padding: 18px 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
  color: white;
  border: none;
  padding: 20px 100px;
  margin-left: auto;
  cursor: pointer;
}

.calculatorW button:hover {
  background: #254441;
}
